@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Spiral Web App</h1>
    <p>STG Document Site</p>
</div>

<div>
    <img class="img-fluid" src='~/images/dds-lg.jpg' alt="background" />
</div>
