@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Spiral Web App</h1>
    <p>STG Document Site</p>
</div>

<div class="container">
    <img class="image" src='~/images/dds-lg.jpg' alt="background" />
</div>
<br /> 
<div class="level">
    <div class="level-left">
        <div class="level-item">
            <p class="subtitle is-5">
                <strong>398</strong> Documents in Database
            </p>
        </div>
        <div class="level-item">
            <div class="field has-addons">
                <p class="control">
                    <input class="input" type="text" placeholder="Find a Document">
                </p>
                <p class="control">
                    <button class="button">
                        Search
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>