nav {
  height: 40px;
  width: 100%;
}
nav li {
  height: 38px;
  width: 100px;
}
nav li a {
  color: #000;
}
nav li a:link {
  text-decoration: none;
}
nav li a:visited {
  color: #CC3333;
  text-decoration: none;
}
nav li a:hover {
  text-decoration: underline;
  font-weight: bold;
}
nav li a:active {
  text-decoration: underline;
}
.wrapper {
  margin-top: 15px;
  padding: 10px 5px 5px 10px;
}
.wrapper .main-image {
  align-self: stretch;
  opacity: 1;
  display: block;
  width: auto;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.wrapper .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.wrapper:hover .main-image {
  opacity: 0.3;
}
.wrapper:hover .middle {
  opacity: 1;
}
